<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div class="form">
    <div class="row form-group">
      <div class="col-6 row ">
        <div class="col-4"><label><%= form.label :name %>:</label></div>
        <div class="col-8"><input class="form-control" type="text" <%= form.text_field :name,{ autocomplete: "off" }%> </div>
      </div>  
      <div class="col-6"></div>
    </div>
    
    <div class="row form-group">
      <div class="col-6 row ">
        <div class="col-4"><label><%= form.label :email %>:</label></div>
        <div class="col-8"><input class="form-control" type="text" <%= form.text_field :email , { autocomplete: "off" }%></div>
      </div>  
      <div class="col-6"></div>
    </div>

    <%= form.hidden_field :zipcode_id, :value => ''  %>
    <%# <div class="row form-group">
      <div class="col-6 row ">
        <div class="col-4"><label><%= form.label :zipcode %><%#:</label></div>
        <div class="col-8">
          <%= form.collection_select :zipcodes_id, Zipcode.all, :id,:name, 
          {:prompt => '---- Select a ZIP Code ----'}, {class:"form-control"} %>
       <%# </div>
      </div>  
      <div class="col-6"></div>
    </div> %>

    <div class="row form-group">
      <div class="col-6 row ">
        <div class="col-4"><label>Address <%= form.label :info  %>:</label></div>
        <div class="col-8"><input class="form-control" type="text" <%= form.text_field :info , { autocomplete: "off",placeholder: "Ex: Avenida Brasília, 1960" }%></div>
      </div>  
      <div class="col-6"></div>
    </div>

    <div class="row form-group">
      <div class="col-6 row ">
        <div class="col-4"><label><%= form.label :city %>:</label></div>
        <div class="col-8"><input class="form-control" type="text" <%= form.text_field :city , { autocomplete: "off",placeholder: "Ex: Curitiba" }%></div>
      </div>  
      <div class="col-6"></div>
    </div>

    <div class="row form-group">
      <div class="col-6 row ">
        <div class="col-4"><label><%= form.label :state %>:</label></div>
        <div class="col-8"><input class="form-control" type="text" <%= form.text_field :state , { autocomplete: "off",placeholder: "Ex: Paraná" }%></div>
      </div>  
      <div class="col-6"></div>
    </div>

    <div class="row form-group">
      <div class="col-6">
        <div class="actions">
          <%= form.submit nil, class:'btn btn-light' %>
        </div>
      </div>  
      <div class="col-6"></div>
    </div>
  </div>  
<% end %>
