<p id="notice"><%= notice %></p>

<div class="back">
  <button type="button" class="btn btn-light btn-link">
    <%= link_to 'Back', root_path %>
  </button>
</div>
<div class="new-book">
  <button type="button" class="btn btn-light btn-link">
    <%= link_to 'New Author', new_author_path %>
  </button>
</div>

<table class="table">
  <thead> 
    <tr>
    <th scope="col">Author name</th>
    <th scope="col">Email</th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @authors.each do |author| %>
      <tr> 
        <td><%= author.name %></td>
        <td><%= author.email %></td>
        <td><button type="button" class="btn btn-light btn-link"><%= link_to 'Show', author %></button></td>
        <td><button type="button" class="btn btn-light btn-link"><%= link_to 'Edit', edit_author_path(author) %></button></td>
        <td><button type="button" class="btn btn-light btn-link"><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>